App_Browsers/
bin/
layouts/
obj/
temp/
xsl/
sitecore_files/
upload/
Default.aspx
Design.config
default.css
default.htm.sitedown
default.js
*.suo
Global.asax
Web.config
Web.config.Mvc
Web.config.Oracle
Web.config.Oracle.Mvc
web.config.result.xml.normalized.xml
webedit.css
packages/
sitecore/blocked.aspx
sitecore/no.css
sitecore/admin/
sitecore/Copyrights/
sitecore/debug/
sitecore/images/
sitecore/login/
sitecore/portal/
sitecore/service/
sitecore/shell/
App_Data/MediaCache/
ReSharper.DotSettings
Sitecore.Support.Essentials.sln.DotSettings
Sitecore.Support.Essentials.sln.DotSettings.user
*.bak
