*.user
license.xml
src/.vs/
src/Sitecore.SmartCommands.UnitTests/bin/
src/Sitecore.SmartCommands.UnitTests/obj/
src/Sitecore.SmartCommands/bin/
src/Sitecore.SmartCommands/obj/
src/TestResults/
src/packages/
