<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="smartoperations:smartduplicate" type="Sitecore.SmartCommands.Shell.Framework.Commands.SmartDuplicate, Sitecore.SmartCommands" />
    </commands>
    <processors>
      <uiDuplicateItem>
        <processor type="Sitecore.SmartCommands.Pipelines.DuplicateItem.Execute, Sitecore.SmartCommands" method="Process" patch:before="*[@method='Execute']" />
        <processor type="Sitecore.SmartCommands.Pipelines.DuplicateItem.UpdateLinks, Sitecore.SmartCommands" method="Process" patch:before="*[@method='Execute']">
          <param desc="async">false</param>
        </processor>
      </uiDuplicateItem>
    </processors>
  </sitecore>
</configuration>