<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="essentials:removeitemfromcaches" type="Sitecore.Essentials.Shell.Framework.Commands.RemoveItemFromCaches, Sitecore.Essentials" />
    </commands>
    <processors>
      <removeItemFromCaches>
        <processor type="Sitecore.Essentials.Pipelines.RemoveItemFromCaches.RemoveItemFromItemsCache, Sitecore.Essentials" />
        <processor type="Sitecore.Essentials.Pipelines.RemoveItemFromCaches.RemoveItemFromAccessResultCache, Sitecore.Essentials" />
        <processor type="Sitecore.Essentials.Pipelines.RemoveItemFromCaches.RemoveItemFromDataCache, Sitecore.Essentials" />
        <processor type="Sitecore.Essentials.Pipelines.RemoveItemFromCaches.RemoveItemFromPrefetchCache, Sitecore.Essentials" />
      </removeItemFromCaches>
    </processors>
  </sitecore>
</configuration>