<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="essentials:smartcopyto" type="Sitecore.Essentials.Shell.Framework.Commands.SmartCopyTo, Sitecore.Essentials" />
    </commands>
    <processors>
      <uiCopyItems>
        <processor type="Sitecore.Buckets.Pipelines.UI.ItemCopy, Sitecore.Buckets">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Essentials.Pipelines.CopyItems.UpdateLinks, Sitecore.Essentials" method="Process" patch:after="*[@method='Execute']">
          <param desc="async">false</param>
        </processor>
      </uiCopyItems>
    </processors>
  </sitecore>
</configuration>