<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="SC.Lucene.Net" version="7.0.2" targetFramework="net45" />
  <package id="SC.Sitecore.Kernel" version="7.0.2" targetFramework="net45" />
  <package id="SC.Sitecore.Logging" version="7.0.2" targetFramework="net45" />
  <package id="SC.sitecore.nexus" version="7.0.2" targetFramework="net45" />
  <package id="Sitecore.FakeDb" version="0.25.1" targetFramework="net45" />
</packages>