<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="essentials:removeitemfromcaches" type="Sitecore.Support.Shell.Framework.Commands.RemoveItemFromCaches, Sitecore.Support.Essentials" />
      <command name="essentials:resetfield" type="Sitecore.Support.Shell.Framework.Commands.ResetField, Sitecore.Support.Essentials" />
      <command name="essentials:smartduplicate" type="Sitecore.Support.Shell.Framework.Commands.SmartDuplicate, Sitecore.Support.Essentials" />
      <command name="essentials:smartclone" type="Sitecore.Support.Shell.Framework.Commands.SmartClone, Sitecore.Support.Essentials" />
    </commands>
    <events>
      <event name="item:added">
        <handler type="Sitecore.Support.Events.ItemAdded.UpdateLinks, Sitecore.Support.Essentials" method="OnItemAdded">
          <param desc="async">false</param>
        </handler>
      </event>
    </events>
    <processors>
      <removeItemFromCaches>
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromItemsCache, Sitecore.Support.Essentials" />
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromAccessResultCache, Sitecore.Support.Essentials" />
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromDataCache, Sitecore.Support.Essentials" />
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromPrefetchCache, Sitecore.Support.Essentials" />
      </removeItemFromCaches>
      <uiDuplicateItem>
        <processor type="Sitecore.Support.Pipelines.DuplicateItem.Execute, Sitecore.Support.Essentials" method="Process" patch:before="*[@method='Execute']" />
        <processor type="Sitecore.Support.Pipelines.DuplicateItem.UpdateLinks, Sitecore.Support.Essentials" method="Process" patch:before="*[@method='Execute']">
          <param desc="async">false</param>
        </processor>
      </uiDuplicateItem>
      <uiCloneItems>
        <processor type="Sitecore.Buckets.Pipelines.UI.BucketItemClone, Sitecore.Buckets">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Support.Pipelines.CloneItems.UpdateLinks, Sitecore.Support.Essentials" method="Process" patch:after="*[@method='Execute']">
          <param desc="async">false</param>
        </processor>
      </uiCloneItems>
    </processors>
  </sitecore>
</configuration>