<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="essentials:removeitemfromcaches" type="Sitecore.Support.Shell.Framework.Commands.RemoveItemFromCaches, Sitecore.Support.Essentials" />
      <command name="essentials:resetfield" type="Sitecore.Support.Shell.Framework.Commands.ResetField, Sitecore.Support.Essentials" />
      <command name="essentials:smartduplicate" type="Sitecore.Support.Shell.Framework.Commands.SmartDuplicate, Sitecore.Support.Essentials" />
    </commands>
    <processors>
      <removeItemFromCaches>
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromItemsCache, Sitecore.Support.Essentials" />
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromAccessResultCache, Sitecore.Support.Essentials" />
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromDataCache, Sitecore.Support.Essentials" />
        <processor type="Sitecore.Support.Pipelines.RemoveItemFromCaches.RemoveItemFromPrefetchCache, Sitecore.Support.Essentials" />
      </removeItemFromCaches>
      <uiDuplicateItem>
        <processor type="Sitecore.Support.Pipelines.DuplicateItem.Execute, Sitecore.Support.Essentials" method="Process" patch:before="*[@method='Execute']" />
        <processor type="Sitecore.Support.Pipelines.DuplicateItem.UpdateLinks, Sitecore.Support.Essentials" method="Process" patch:before="*[@method='Execute']">
          <param desc="async">false</param>
        </processor>
      </uiDuplicateItem>
    </processors>
  </sitecore>
</configuration>